<div>
    <img id="konami" class="konami" src="../images/konami.gif"/>
    <script>
	for(let i=0;i<100;)console.log((++i%3?'':'fizz')+(i%5?'':'buzz')||i)
        var allowedKeys = {
            37: 'left',
            38: 'up',
            39: 'right',
            40: 'down',
            65: 'a',
            66: 'b'
        };

        var konamiCode = ['up', 'up', 'down', 'down', 'left', 'right', 'left', 'right', 'b', 'a'];
        var keyPosition = 0;
        var activated = false;
        
        document.addEventListener('keydown', function(e) {
            var key = allowedKeys[e.keyCode];
            var requiredKey = konamiCode[keyPosition];

            if (key == requiredKey) {
                keyPosition++;

                if (keyPosition == konamiCode.length) {
                    activateEgg();
                    resetKeyPosition();
                }
            } else {
                resetKeyPosition();
            }
        });

        function resetKeyPosition() {
            keyPosition = 0;
        }

        function activateEgg() {
            if(!activated) {
                activated = true;
                var konamiDiv = document.getElementById("konami"); 
                    konami.style.display = 'inherit';
                    var currentPosition = 0;

                    var id = setInterval(() => {
                        if (currentPosition == document.body.offsetWidth) {
                            clearInterval(id);
                            konami.style.display = 'none';
                            activated = false;
                            resetKeyPosition();
                        } else {
                            currentPosition++; 
                            konami.style.left = currentPosition + 'px'; 
                        }
                }, 10);            
            }
        }
    </script>
</div>