<!DOCTYPE html>
<html lang="{{ site.locale }}">
    {% include head.html %}
  
  <body>
      <header>
        <div class="inner"></div>
          <h1><a href="{{ site.baseurl }}" style="color:white">{{ site.name }}</a></h1>
        </div>
      </header>
	
	{% include breadcrumb.html %}

    <div id="content-wrapper" style="touch-action: none">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>        
      </div>
    </div>

    {% include konami.html %}
  </body>

  {% include share.html %}

  {% include footer.html %}
</html>
